body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("images/galaxy.jpg");
}
.header {
  color: white;
  text-align: center; 
  font-family: 'Space Mono', monospace; 
  font-size: 5rem; 
}

.selectPlayer {
  color: white;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.main-container {
  height: 100%;
  width: 100%;
  /* background-image: url("images/galaxy.jpg"); */
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.cell-container {
  border: 1px solid salmon;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
}

.hole {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 1px solid salmon;
}

.hole img {
  width: 100%;
  animation: drop 0.4s ease-in;
}

@keyframes drop {
  from {
    transform: translate3d(0, -80vmin, 0);
  }
  to {
    transform: translate3d(0, 2px, 0);
  }
}

#modalShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(241, 233, 233, 0.4);
}


#modalBody{
  position: fixed; 
  background-image:url("images/yongChuan.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  left: 50%; 
  top: 50%; 
  min-height:50%;
  min-width:50%; 
  transform: translate( -50%, -50%); 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
  font-family: "Space Mono", monospace;
}

.modalItems {
  position: relative;
}


.imagesDiv{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.imagesDiv img{
  width:100px;
}

.statsDisplay {
  height: 80vmin;
  width: 10vmin;
  color: white;
  margin-right: 5vmin;
  position: relative;
}

.reset {
  width: 10vmin;
  height: 5vmin;
  background-color: white;
  color: black;
  padding: 2vmin;
  text-align: center;
  border-radius: 30px;
  font-family: 'Space Mono', monospace; 
}
